@using Agenda3.Models
@model Evento
@{
    ViewBag.Title = "AgregarEvento";
}
@Scripts.Render("~/Scripts/jquery-3.4.1.js")
<head>
    <script>
        function a() {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("dato", "BackOffice")',
                data: { dato: document.getElementById("calendario").value }
            })
        }
    </script>
</head>
<body>
    @using (Html.BeginForm("InsertarEvento", "Backoffice", FormMethod.Post))
    {

        <p>Nombre:</p> @Html.TextBoxFor(model => model.Nombre) <br />
        <p>Evento:</p> @Html.DropDownListFor(model => model.IdTipEve, new SelectList(ViewBag.ListarTipos, "idTipEve", "TipEve")) <br />
        <p>Amigo:</p> @Html.DropDownListFor(model => model.IdAmigo, new SelectList(ViewBag.ListarAmigo, "IdAmigo", "Nombre")) <br />
        <p>Descripcion:</p> @Html.TextAreaFor(model => model.Descripcion) <br />
        <p>Fecha:</p>
        <input type="date" id="calendario" onchange="a()" name="trip-start"
               value="2019-12-03"
               min="2019-01-01" max="2040-12-31"><br />
        @Html.HiddenFor(model => model.Activo)
        <p>Destacada:</p> @Html.CheckBoxFor(model => model.Destac) <br />
        <input type="submit" value="Enviar" />
        
    }
</body>
/*CAMBIAR LO DEL DRP DOWM LIST POR UN CHECK BOX QUE TE MUESTRE TODOS TUS 
AMIGOS Y QUE LOS PUEDAS ELEGIR Y SE ASOGNARAN AL EVENTO */