@using Agenda3.Models
@model Evento



@using (Html.BeginForm("EditoEvento", "Backoffice", FormMethod.Post))
{
    @Html.HiddenFor(model => model.IdEve)
    <p>Nombre:</p> @Html.TextBoxFor(model => model.Nombre) <br />
    <p>Evento:</p> @Html.DropDownListFor(TiposEve => TiposEve.IdTipEve, new SelectList(ViewBag.ListarTipos, "idTipEve", "TipEve")) <br />
    <p>Amigo:</p> @Html.DropDownListFor(Amigos => Amigos.IdAmigo, new SelectList(ViewBag.ListaAmigos, "IdAmigo", "Nombre")) <br />
    <p>Fecha:</p> @Html.TextBoxFor(model => model.Dia) <br />
    <p>Descripcion:</p> @Html.TextBoxFor(model => model.Descripcion) <br />


    @Html.HiddenFor(model => model.Activo)
    <p>Destacada:</p> @Html.CheckBoxFor(model => model.Destac) <br />
    <input type="submit" value="Enviar" />
}