@using Agenda3.Models
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Content/estilos/Barra.css">
    <title>@ViewBag.Title </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        <nav class="navegacion">
            <ul class="menu">
                <li><a href='@Url.Action("Index","Home")'>Inicio</a></li>
                <li>
                    <a href="#">Categorias</a>
                    <ul class="submenu">

                        @foreach (TiposEve tip in ViewBag.ListarEve)
                        {
                            <li><a href='@Url.Action("EventosXCategoria","Home", new { IdCategoria =tip.IdTipEve, NombreTipo=tip.TipEve})'>@tip.TipEve</a></li>
                        }


                    </ul>
                </li>
                <li><a href='@Url.Action("Amigos","Home")'>Amigos</a></li>
                <li><a href='@Url.Action("Index","BackOffice")'>Editar</a></li>
            </ul>
        </nav>
    </header>


    <div class="container body-content">
        @RenderBody()


    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>