@using Agenda3.Models
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/Content/estilos/Barra.css">
    <title>@ViewBag.Title </title>
    
    @Scripts.Render("~/bundles/modernizr")
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }

        .navbar {
            overflow: hidden;
            background-color: #333;
        }

            .navbar a {
                float: left;
                font-size: 16px;
                color: whitesmoke;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
            }

        .dropdown {
            float: left;
            overflow: hidden;
        }

            .dropdown .dropbtn {
                font-size: 16px;
                border: none;
                outline: none;
                color: white;
                padding: 14px 16px;
                background-color: inherit;
                font-family: inherit;
                margin: 0;
            }

            .navbar a:hover, .dropdown:hover .dropbtn {
                background-color: cornflowerblue;
            }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: cornflowerblue;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

            .dropdown-content a {
                float: none;
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
                text-align: left;
            }

                .dropdown-content a:hover {
                    background-color: #ddd;
                }

        .dropdown:hover .dropdown-content {
            display: block;
        }
    </style>
</head>
<body>

    <div class="navbar">
        <a href='@Url.Action("Index","Home")'>Inicio</a>
        <a href='@Url.Action("Amigos","Home")'>Amigos</a>
        <a href='@Url.Action("Index","BackOffice")'>Editar</a>
            <div class="dropdown">
                <button class="dropbtn">
                    Categorias
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    @foreach (TiposEve tip in ViewBag.ListarEve)
                    {
                        <a href='@Url.Action("EventosXCategoria","Home", new { IdCategoria =tip.IdTipEve, NombreTipo=tip.TipEve})'>@tip.TipEve</a>
                    }
                </div>
            </div>
    </div>

    
    @RenderBody()
    @Scripts.Render("~/bundles/jquery")
</body>
</html>